html {
  font-size: 62.5%;
  font-family: $base-fonts;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  font-family: $montserrat;
  color: $black;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.33;

  background-color: #fff;


  &.no-scroll {
    overflow: hidden;
  }

  &.show-sidebar {
    overflow: hidden;
  }

}
main {
  padding: 7rem 0 9rem 0;
}

footer {
  margin-top: auto;
}

strong {
  font-weight: 700;
  &.violet {
    color: $violet;
  }
}

h2 {
  font-family: $comfortaa;
  font-weight: 700;
  font-size: 3.3rem;
  line-height: 1.2;
  color: $black-light;
  position: relative;

  span:last-child {
    position: relative;
    display: block;
    z-index: 3;
  }

  &::after {
    content: '';
    display: block;
    width: 28.6rem;
    height: 0.9rem;
    background-color: $yellow;
    position: absolute;
    left: 0;
    bottom: 6px;
    z-index: 1;
  }
}

.hidden-title {
  visibility: hidden;
  height: 0;
}

.page-mask {
  cursor: pointer;
  display: block;
  width: 100%;
  margin-left: auto;
  height: 100%;
  background-color: rgba(0,0,0, 0);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: all .2s linear;


  .show-sidebar & {
    background-color: rgba(0,0,0,.8);
    z-index: 3;
  }
}