html {
  font-size: 62.5%;
  font-family: $base-fonts;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  font-family: $montserrat;
  color: $black;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.33;

  background-color: #fff;


  &.no-scroll {
    overflow: hidden;
  }

  &.show-sidebar {
    overflow: hidden;
  }

}
main {
  padding: 7rem 0 2rem 0;

  @include laptop {
    padding: 5rem 0 ;
  }

  @include tablet {
    padding: 2.2rem 0;
  }

  @include mobile {
    padding: 0;
  }
}

footer {
  margin-top: auto;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

strong {
  font-weight: 700;
  &.violet {
    color: $violet;
  }
}

h1 {
  font-family: $comfortaa;
  font-size: 7rem;
  line-height: 1.15;
  font-weight: 700;
  color: $black-light;
  margin-bottom: 2.8rem;

  @include widescreen {
    font-size: 6.6rem;
  }

  @include laptop {
    font-size: 5.2rem;
  }

  @include tablet {
    font-size: 5rem;
  }

  @include mobile-large {
    font-size: 3.2rem;
  }

  span {

    &:first-child {
      display: block;
    }

    &:last-child {
      position: relative;
      z-index: 3;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 1rem;
        width: 102%;
        height: 1.5rem;
        background: $yellow;
        z-index: -1;
      }
    }
  }
}

h2 {
  font-family: $comfortaa;
  font-weight: 700;
  font-size: 3.3rem;
  line-height: 1.2;
  color: $black-light;
  position: relative;

  @include tablet {
    text-align: center;
  }

  @include mobile-large {
    font-size: 2.8rem;
  }
  
  @include mobile {
    text-align: left;
    font-size: 2.2rem;
  }


  span {

    &:first-child {
      display: block;
    }

    &:last-child {
      position: relative;
      z-index: 3;

      &::after {
        content: '';
        display: block;
        width: 28.6rem;
        height: 0.9rem;
        background-color: $yellow;
        position: absolute;
        left: 0;
        top: 2.5rem;
        z-index: -1;

        @include tablet {
          width: 100%;
        }
      }
    }
  }
}

.hidden-title {
  visibility: hidden;
  height: 0;
}

.page-mask {
  cursor: pointer;
  display: block;
  width: 100%;
  margin-left: auto;
  height: 100%;
  background-color: rgba(0,0,0, 0);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: all .2s linear;


  .show-sidebar & {
    background-color: rgba(0,0,0,.8);
    z-index: 3;
  }
}