//breakpoints
$widescreen: 1440px;
$laptop: 1200px;
$tablet: 992px;
$mobile-large: 780px;
$mobile: 576px;

//colors
$black: #000;
$yellow: #FFEF5E;
$purple: #CFC4ED;
$black-light: #0B1B35;
$white: #fff;
$violet: #5E2E94;
$gray: #F2EFFA;

//fonts
$base-fonts: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$montserrat: 'Montserrat', sans-serif;
$comfortaa: 'Comfortaa', cursive;