.action {
  $root: &;
  padding-top: 11.6rem;
  padding-bottom: 10rem;
  overflow: hidden;

  @include tablet {
    padding-top: 6rem;
    padding-bottom: 1rem;
  }

  @include mobile-large {
    padding-top: 4rem;
  }

  .container {
    @include tablet {
      max-width: 100%;
      width: 100%;
      padding: 0;
    }

    @include mobile-large {
      max-width: 100%;
      width: 100%;
      padding: 0;
    }

    @include mobile {
      max-width: 100%;
      width: 100%;
      padding: 0;
    }
  }

  &__group {
    position: relative;
  }

  &__item {

    & + & {
      margin-top: 1.6rem;
    }

    &.active {
      margin-bottom: -1.2rem;

      #{$root} {
        &__body {
          max-height: 100rem;
          padding-top: 1.4rem;
          padding-bottom: 1.4rem;

          @include laptop {
            padding-top: 1.4rem;
            padding-bottom: 1.4rem;
          }
        }

        &__head {
          min-height: auto;
          border-bottom: 1px solid #e5e5e5;

          span {
            display: none;
          }

          &::after {
            transform: translateY(-50%) rotate(135deg);
          }
        }
      }
    }
  }

  &__head {
    cursor: pointer;
    position: relative;
    width: 78%;
    padding: 1.4rem 26rem 1.4rem 5.8rem;
    background-color: $purple;
    min-height: 9.5rem;

    @include tablet {
      width: 100%;
      padding: 1.4rem 0 1.4rem 0;
    }

    @include mobile-large {
      min-height: 7.7rem;
    }

    h5 {
      font-family: $comfortaa;
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 1.6;
      color: $black;
      @extend .text-overflow;

      @include mobile-large {
        font-size: 2.2rem;
      }

      @include mobile {
        font-size: 1.7rem;
      }
    }

    span {
      display: block;
      max-width: 100%;
      overflow: hidden;

      @include mobile-large {
        font-size: 1.2rem;
      }
    }

    &::after {
      content: '';
      width: 2.19rem;
      height: 2.19rem;
      position: absolute;
      right: 21rem;
      top: 50%;
      border-top: 1px solid $black;
      border-right: 1px solid $black;
      transform: translateY(-50%) rotate(45deg);
      transition: transform .3s linear;

      @include tablet {
        right: 31rem;
      }

      @include mobile-large {
        width: 1.19rem;
        height: 1.19rem;
        right: 19rem;
      }

      @include mobile {
        right: 1.5rem;
      }
    }
  }

  &__inner {

    @include tablet {
      max-width: 784px;
      padding: 0 2rem;
      margin: 0 auto;
    }

    @include mobile-large {
      max-width: 100%;
    }

    @include mobile {
      padding: 0 1.5rem;
    }
  }

  &__head-inner {
    @include tablet {
      width: 50%;
    }

    @include mobile-large {
      width: 65%;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__body-inner {

    @include tablet {
      width: 65%;
    }

    @include mobile-large {
      width: 71%;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__body {
    font-size: 20px;
    line-height: 1.4;
    color: $black;
    max-height: 0;
    overflow: hidden;
    width: 78%;
    transition: max-height .5s linear, padding .1s linear;
    padding: 0 18.5rem 0 5.8rem;
    background-color: $purple;
    transform: translateY(-12px);

    @include tablet {
      padding: 0;
      width: 100%;
    }

    p, span, a {
      @include mobile-large {
        font-size: 1.2rem;
      }
    }

    h2, h3, h4, h5, h6 {
      font-family: $comfortaa;
      font-weight: 700;
      font-size: 2rem;
      line-height: 1.5;
      color: $black;
      margin-bottom: 1.2rem;

      @include tablet {
        width: 95%;
      }

      @include mobile-large {
        font-size: 1.2rem;
      }
    }

    p + p {
      margin-top: 2rem;

      @include mobile-large {
        margin-top: 1.4rem;
      }
    }

    a {
      color: $yellow;
      font-weight: 600;
      text-decoration: underline;
      
      &:hover {
        text-decoration: none;
      }
    }
  }
}