.news {
  padding-top: 10rem;

  @include laptop {
    padding-top: 5rem;
  }

  @include mobile-large {
    padding-top: 4.8rem;
  }

  @include mobile {
    padding: 4.8rem 0 0 0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile-large {
      flex-direction: column;
    }
    
    h2 {
      text-align: left;

      @include mobile-large {
        text-align: center;
        margin-bottom: 1.4rem;
      }
    }
  }

  &__top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-direction: column;
    }
  }

  &--page {
    padding-top: 0;
  }

  &__main .row {
    padding: 3rem 0;
  }

  &__link {
    text-align: right;
  }

  .col-4:not(:nth-child(-n + 3)) {
    margin-top: 3rem;
  }

  .col-md-6:not(:nth-child(-n + 2)) {
    @include tablet {
      margin: 3rem auto 0 auto;
    }
  }

  .col-sm-12:not(:first-child) {
    @include mobile-large {
      margin-top: 3rem;
    }
  }
}
