.header {
  padding-bottom: 7rem;
  border-bottom: 1px solid $violet;

  @include laptop {
    padding-bottom: 5rem;
  }

  @include tablet {
    padding-bottom: 4.3rem;
  }

  @include mobile {
    border-bottom: none;
  }

  &__top {
    position: relative;
    z-index: 4;
    padding: 0.5rem;
    min-height: 4rem;
    background-color: #fff;

    .container {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    @include tablet {
      max-width: 62%;
      display: none;
    }
  }

  &__login {
    display: none;
    font-family: $montserrat;
    font-weight: 500;
    font-size: 1.8rem;
    flex-shrink: 0;
    margin-right: 1.5rem;
    @extend .text-overflow;
    transition: color .2s linear;

    &:hover {
      color: $yellow;
    }

    .sidebar & {
      @include mobile-large {
        color: $yellow;

        &:hover {
          color: $black;
        }
      }
    }
  }
}