.intro {
  position: relative;
  min-height: 52rem;
  background-color: $purple;

  &__info {
    max-width: 57%;
  }

  &__text {
    font-size: 1.8rem;
    line-height: 1.58;
    color: $black;

    p + p {
      margin-top: 2.2rem;
    }
  }

  &__photo {
    position: absolute;
    right: 10vw;
    bottom: 0;
    width: 43rem;
    height: 40rem;
    z-index: 3;

    @include widescreen {
      right: 9vw;
      width: 42rem;
      height: 39rem;
    }

    @include laptop {
      width: 37rem;
      height: 35rem;
    }

    &::after {
      z-index: -1;
      content: '';
      position: absolute;
      bottom: 6rem;
      right: -7rem;
      width: 106%;
      height: 114%;
      background: url("../images/zarka.png") no-repeat center / contain;
    }

    img {
      @extend .img-cover;
    }
  }

  &__info {
    padding: 5.7rem 0 7.6rem 0;
  }
}