.d-list {
  $root: &;

  div {
    display: flex;
    align-items: baseline;
    padding-bottom: 1.4rem;
    overflow: hidden;

    &:last-child {
      padding-bottom: 0;

      dt {
        span:last-child:after {
          content: '';
          display: none;
        }
      }
    }
  }

  dt {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    span {
      display: block;
      font-family: $comfortaa;
      font-weight: 700;
      font-size: 2rem;
      line-height: 1;
      color: $black;
      height: 100%;

      @include mobile-large {
        font-size: 1.5rem;
      }

      &:last-child {
        position: relative;
        font-family: inherit;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2.2rem;
        text-align: center;
        color: $black;
        flex-shrink: 0;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: $yellow;
        margin-left: .8rem;

        &:after {
          content: '';
          position: absolute;
          top: 105%;
          right: 50%;
          height: 200rem;
          width: 2px;
          border-right: 1px dashed $yellow;
        }
      }
    }
  }

  dd {
    display: flex;
    padding-left: 1.3rem;
    font-size: 1.8rem;
    line-height: 1.56;
    color: $black;

    @include mobile-large {
      font-size: 1rem;
    }
  }
}