.list {
  $root: &;

  &--yellow {
    margin-bottom: 2rem;
    #{$root} {
      &__item {
        line-height: 1.56;

        &::before {
          width: 3.4rem;
          height: 2.7rem;
          margin-right: .9rem;
          background: url("../images/star-yellow.png") no-repeat center / contain;
        }

        & + li {
          margin-top: 1.1rem;
        }

      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    line-height: 1.1;

    &::before {
      content: '';
      display: block;
      flex-shrink: 0;
      width: 3.4rem;
      height: 3.4rem;
      margin-right: 1.1rem;
      background: url("../images/star.png") no-repeat center / contain;
    }


    & + & {
      margin-top: 1.8rem;
    }
  }
}