.list {
  $root: &;

  &--yellow.list {
    margin-bottom: 2rem;

      li {
        line-height: 1.56;

        @include mobile-large {
          font-size: 1.2rem;
          line-height: 1.3;
        }

        &::before {
          width: 3.4rem;
          height: 2.7rem;
          margin-right: .9rem;
          background: url("../images/star-yellow.png") no-repeat center / contain;
        }

        & + li {
          margin-top: 1.1rem;

          @include mobile-large {
            margin-top: .9rem;
          }
        }
      }
  }

  li {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    line-height: 1.1;

    @include mobile {
      font-size: 1.6rem;
    }

    &::before {
      content: '';
      display: block;
      flex-shrink: 0;
      width: 3.4rem;
      height: 3.4rem;
      margin-right: 1.1rem;
      background: url("../images/star.png") no-repeat center / contain;
    }

    & + li {
      margin-top: 1.8rem;

      @include tablet {
        margin-top: 1.2rem;
      }
    }
  }
}