.logo {
  max-width: 20rem;
  height: auto;
  max-height: 14rem;
  overflow: hidden;
  flex-shrink: 0;

  &--header {
    @include tablet {
      margin-left: auto;
      margin-right: auto;
    }
  }


  img {
    @extend .img-contain;
  }
}