.nav {
  $root: &;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: calc(68% - 20rem);
  padding: 0 1rem;
  gap: 4px 16px;

  @include tablet {
    display: none;
  }

  &--sidebar {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: normal;
    max-width: 100%;

    @include tablet {
      display: flex;
    }

    #{$root} {
      &__item {
        margin-bottom: 1.2rem;
        font-size: 2rem;

        &--page {
          &:not(:last-child) {
            margin-top: 1.2rem;
          }
        }
      }
    }
  }

  &--footer {
    max-width: calc(100% - 20rem);
    justify-content: flex-end;
    padding-right: 0;

    @include tablet {
      display: flex;
      flex-direction: column;
      padding-left: 0;
    }

    @include mobile {
      max-width: calc(100% - 14rem);
    }

    #{$root} {
      &__item {

        @include tablet {
          display: none;
          margin-bottom: 2.2rem;

          &:last-child {
            margin-bottom: 0;
          }

          &--page {
            display: inline-block;
          }
        }

        @include mobile-large {
          font-size: 1.5rem;
        }
      }
    }
  }

  &__item {
    position: relative;
    font-size: 1.8rem;
    line-height: 1.4;
    color: $black;
    @extend .text-overflow;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 4px;
      background-color: $yellow;
      transition: width .1s ease;
    }

    &:hover::after, &:focus::after {
      width: 100%;
    }

    &.active::after {
      width: 100%;
    }

    &--page {
      text-decoration-line: underline;
      color: $violet;

      &:hover {
        text-decoration: none;
      }
    }
  }
}