.sidebar {
  width: 300px;
  height: calc(100vh - 9.4rem);
  padding: 2rem;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;

  background-color: #fff;
  transform: translateX(-101%);
  transition: transform .3s linear;

  .show-sidebar & {
    transform: translateX(0);
  }
}