.slider {
  padding-bottom: .7rem;

  .slick-track {
    padding-top: 9rem;
    padding-bottom: 9rem;

    @include laptop {
      padding-top: 7rem;
      padding-bottom: 7rem;
    }

    @include tablet {
      padding-top: 9rem;
      padding-bottom: 11rem;
    }

    @include mobile-large {
      padding-top: 7rem;
      padding-bottom: 9rem;
    }

    @include mobile {
      padding-top: 6.6rem;
      padding-bottom: 8rem;
    }
  }

  &__item {
    border-radius: 1.2rem;
    transition: transform .3s linear;

    img {
      transition-delay: .7s;
      transition: all 1s ease-in-out;
    }

    &.slick-center {
      z-index: 11;
      transform: scale(1.34);
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
      background-color: $yellow;

      @include laptop {
        transform: scale(1.24);
      }

      img {
        transform: translate(-2px, -2px);
      }
    }
  }

  &__img {
    border-radius: 1.2rem;
    overflow: hidden;
    padding: 2px;
    background-clip: content-box;
    height: 33rem;

    @include laptop {
      height: 28rem;
    }

    @include tablet {
      height: 35.7rem;
    }

    @include mobile-large {
      height: 28rem;
    }

    @include mobile {
      height: 33.1rem;
    }

    img {
      border-radius: 1.2rem;
      @extend .img-cover;
    }
  }

  .slick-prev, .slick-next {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 2.8rem;
    height: 2.8rem;
    background-color: $purple;
    border-radius: 50%;
    color: transparent;
    font-size: 0;

    @include tablet {
      bottom: 2rem;
    }

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      right: 50%;
      width: 8px;
      height: 8px;
      border-left: 1px solid $gray;
      border-top: 1px solid $gray;
      transition: border-color .2s linear;
    }

    &:hover::before {
      border-color: $black;
    }
  }

  .slick-prev {
    transform: translate(-3.5rem);

    &::before {
      transform: translate(-50%, -58%) rotate(-45deg);
    }
  }

  .slick-next {
    transform: translate(.5rem);

    &::before {
      transform: translate(-50%, -58%) rotate(135deg);
    }
  }
}





