.t-slider {
  padding-bottom: 6rem;
  margin: 0 -1.9rem;

  &__item {
    display: flex;
    padding: 0 1.9rem;
  }

  .slick-prev, .slick-next {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 3.3rem;
    height: 3.3rem;
    background-color: $purple;
    border-radius: 50%;
    color: transparent;
    font-size: 0;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      right: 50%;
      width: 10px;
      height: 10px;
      border-left: 1px solid $gray;
      border-top: 1px solid $gray;
      transition: border-color .2s linear;
    }

    &:hover::before {
      border-color: $black;
    }
  }

  .slick-prev {
    transform: translate(-3.5rem);

    &::before {
      transform: translate(-37%, -43%) rotate(-45deg);
    }
  }

  .slick-next {
    transform: translate(.5rem);

    &::before {
      transform: translate(-72%, -40%) rotate(135deg);
    }
  }
}