<footer class="footer">
    <div class="container">
        <a href="./index.hmtl" class="logo">
            <img src="assets/images/logo.png" alt="logo">
        </a>
        <!--/header__logo-->
        <nav class="nav nav--footer">
            <a href="#activity" class="nav__item">Про фонд</a>
            <a href="#team" class="nav__item">Команда</a>
            <a href="./get-help.html" class="nav__item nav__item--page">Отримати допомогу</a>
            <a href="./become-benefactor.html" class="nav__item nav__item--page">Стати благодійником</a>
        </nav>
        <!--/nav-->
    </div>
    <!--/container-->
</footer>
