<footer class="footer">
    <div class="container">
        <a href="#" class="logo">
            <img src="assets/images/logo.png" alt="logo">
        </a>
        <!--/header__logo-->
        <nav class="nav nav--footer">
            <a href="#activity" class="nav__item" data-link="activity">Про фонд</a>
            <a href="#team" class="nav__item" data-link="team">Команда</a>
            <a href="#" class="nav__item nav__item--page" data-link="action">Отримати допомогу</a>
            <a href="#" class="nav__item nav__item--page" data-link="action">Стати благодійником</a>
        </nav>
        <!--/nav-->
    </div>
    <!--/container-->
</footer>
