<aside class="sidebar" id="sidebar">
    <div class="sidebar__left">
        <nav class="nav nav--sidebar">
            <a href="#activity" class="nav__item">Про фонд</a>
            <a href="#team" class="nav__item">Команда</a>
            <a href="./get-help.html" class="nav__item nav__item--page">Отримати допомогу</a>
            <a href="./become-benefactor.html" class="nav__item nav__item--page">Стати благодійником</a>
        </nav>
        <!--/nav-->
        <div class="sidebar__socials">
            <a href="#" class="sidebar__social">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="#" class="sidebar__social">
                <i class="fab fa-instagram-square"></i>
            </a>
        </div>
    </div>
    <!-- /sidebar__left-->
    <div class="sidebar__right">
        <a class="header__login" href="#">Log in</a>
    </div>
    <!-- /sidebar__right-->
</aside>