.activity {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-image: linear-gradient(to right, $gray 0, $gray 51%, #fff 51%, #fff 100%);

  @include tablet {
    background-image: linear-gradient(to top, $gray 0, $gray 51%, #fff 51%, #fff 100%);
  }

  .row {
    .col-6:first-child {

      @include tablet {
        order: 2;
      }
    }
  }

  h2 {
    margin-bottom: 3.2rem;
  }
  
  h5, h6 {
    text-align: center;
    margin-bottom: 1.2rem;
    @include laptop {
      margin-bottom: 0;
    }
  }

  &__slider {
    position: relative;
    padding: 3rem 0 1.8rem 0;
    z-index: 2;

    &::after {
      content: '';
      position: absolute;
      top: 1rem;
      left: -5rem;
      opacity: .4;
      display: block;
      width: 26.7rem;
      height: 26.7rem;
      background: url("../images/zarka.png") no-repeat center / cover;
      z-index: -1;
    }
  }

  &__info {
    padding-left: 3rem;

    @include laptop {
      padding-left: 2rem;
    }
  }
}