.activity {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden;
  background-image: linear-gradient(to right, $gray 0, $gray 51%, #fff 51%, #fff 100%);

  @include tablet {
    background-image: linear-gradient(to top, $gray 0, $gray 56%, #fff 56%, #fff 100%);
  }


  .row {
    .col-6:first-child {
      overflow: hidden;

      @include tablet {
        order: 2;
      }
    }
  }

  h2 {
    margin-bottom: 3.2rem;

    @include tablet {
      margin-bottom: 2rem;
    }
  }
  
  h5, h6 {
    text-align: center;
    margin-bottom: 1.2rem;
    @include laptop {
      margin-bottom: 0;
    }

    @include tablet {
      max-width: 82%;
      margin: 0 auto;
    }
  }

  &__slider {
    position: relative;
    padding: 3.5rem 0 1.8rem 0;
    z-index: 2;

    @include mobile-large {
      padding: 3.5rem 0 0.8rem 0;
    }

    &::after {
      content: '';
      position: absolute;
      top: 1rem;
      left: -5rem;
      opacity: .4;
      display: block;
      width: 26.7rem;
      height: 26.7rem;
      background: url("../images/zarka.png") no-repeat center / cover;
      z-index: -1;

      @include tablet {
        left: -2rem;
      }
    }
  }

  &__info {
    padding-left: 3rem;

    @include laptop {
      padding-left: 2rem;
    }

    @include tablet {
      padding-left: 0;
      padding-bottom: 6rem;
    }

    @include mobile-large {
      padding-bottom: 4rem;
    }
  }

  &__action {
    display: none;
    max-width: 80%;
    margin: 0 auto 3.4rem auto;

    @include mobile {
      display: block;
      text-align: center;
    }
  }
}