<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head }}
</head>
<body class="">
        <!-- Header -->
        <header class="header">

            {{> header }}
        </header>

        <!-- Main -->
        <main class="main">
            {{> body }}
        </main>

        <!-- Footer -->
        {{> footer }}

        <div class="page-mask" id="pageMask"></div>


    <script type="text/javascript" src="assets/plugins/jquery.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-migrate.js"></script>
    <script type="text/javascript" src="assets/plugins/slick.min.js"></script>

    <script src="assets/js/init.js"></script>

    <script src="assets/js/app.js"></script>
</body>
</html>
